<div class="signup-form">
  <div class="main-content">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <div class="spotify-logo">
      <i
        class="fa-brands fa-spotify"
        style="
          color: black;
          font-size: 35px;
          margin-top: 15px;
          margin-left: 200px;
        "
      ></i
      ><span class="spotify-text">Spotify</span>
    </div>
    <p style="font-size: 30px;align-self: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sign up for free to start listening.</p>
    <button class="button"><i class="fa-brands fa-facebook" style="color: white;font-size: 25px;margin-right: 22px;margin-left: 20px;"></i>Sign up with facebook</button>
    <button class="button1"> <i class="fa-brands fa-google" style="color: #112cdc;font-size: 25px;margin-right: 20px;"></i>Sign up with google</button>
    <p style="align-self: center;font-weight: 100;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">or</p>
    <form class="form" #form="ngForm">
        <label class="email-text">What's your email?</label><br>
        <input  class="email"   type="text" placeholder="Enter your email" name="email" ngModel #email="ngModel" required [pattern]="email_pattern"><br>
        <a href="#" style="color: rgb(105, 171, 5); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-left: 14%;">use phone number instead</a>
        <i *ngIf="email.invalid && email.touched || email.hasError('required') && email.hasError('pattern') "  class="fa-solid fa-exclamation circle-alert">Please enter your Spotify username or email address.</i>
        <br><br><br>
        <label class="password-text">Create your Password</label><br>
        <input  class="password"   type="text" placeholder="create your password" name='password' ngModel #password="ngModel" required [pattern]="password_pattern">
        <i *ngIf="password.invalid && password.touched || password.hasError('pattern')"   class="fa-solid fa-exclamation circle-alert2 " >your password should be atleast of 8 letters ,atleast 1 special character and atleast 1 number</i>
        <br><br><br>
        <label class="password-text">What should we call you?</label><br>
        <input  class="password"   type="text" placeholder="Enter a profile name"  name=username ngModel #username="ngModel" required>
        <i *ngIf="username.touched && username.hasError('required')"   class="fa-solid fa-exclamation circle-alert2 " >please enter what should we call you</i>
        
            <mat-form-field class="date-field"  >
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
             
              <br><br>
              <p style="align-self: center;font-weight: 100;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-left: 14%;">whats your gender?</p>
              <mat-radio-group style="margin-left: 14%; " >
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
                <mat-radio-button value="3">Non-Binary</mat-radio-button>
                <mat-radio-button value="4">Other</mat-radio-button><br>
                <mat-radio-button value="5" style="margin-left: 14%;">Preferably not say</mat-radio-button>
                
              </mat-radio-group>
              <br>
              <mat-checkbox class="example-margin">I would prefer not to receive marketing messages from Spotify</mat-checkbox><br>
              <mat-checkbox class="example-margin">Share my registration data with Spotify's content providers for marketing purposes.</mat-checkbox>
              <p class="terms">By clicking on sign-up, you agree to Spotify's <a href="#" style="color: rgb(24, 135, 24);">Terms and Conditions of Use</a>.</p>
              <p class="terms2">To learn more about how Spotify collects, uses, shares and protects your personal data, </p>
              <p class="terms3">please see <a href="#" style="color: rgb(24, 135, 24);">Spotify's Privacy Policy</a>.</p>
              <button class="button-login" [disabled]="form.form.status=='INVALID'">Sign Up</button>
        

        

    </form>
    <p class="terms4">Have an account?<a routerLink="/loginpage" style="color: rgb(24, 135, 24);">Log In</a></p>
</div>
</div>
