<div class="right">
    <div class="auth">
      <button class="left-arrow">
        <i class="fa-sharp fa-solid fa-arrow-left"></i>
      </button>
      <button class="right-arrow">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </button>
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <div class="search-bar"><i class="fa-solid fa-magnifying-glass" style="color: #f2f2f2;margin-top: 5px;"></i>
      <input     type="text"  placeholder="What do you want to listen to?"></div>
    
      <a class="signup-nav" routerLink="/signuppage">Sign up</a>
      <button (click)="login()"   class="login">Log In</button>
    </div>
    <div class="song-list">
      <div class="container1">
        <p class="focus">Browse All</p>
        
      </div>

      <div class="focus-list">
        <div class="s1">
          <p>dgvfhfhdf</p>
        </div>
        <div class="s2">
          <p>sdfdfd</p>
        </div>
        <div class="s3">
          <p>dfdfd</p>
        </div>
        <div class="s4">
          <p>dfdfff</p>
        </div>
        <div class="s5">
          <p>fdgfggdf</p>
        </div>
      </div>
      <div class="song-list2">
        <div class="container3">
          
        </div>
      </div>
      <div class="s-playlist">
        <div class="s1">
          <p>dgvfhfhdf</p>
        </div>
        <div class="s2">
          <p>sdfdfd</p>
        </div>
        <div class="s3">
          <p>dfdfd</p>
        </div>
        <div class="s4">
          <p>dfdfff</p>
        </div>
        <div class="s5">
          <p>fdgfggdf</p>
        </div>
      </div>
      <div class="song-list3">
        <div class="container4">
          
        </div>
      </div>
      <div class="s-india">
        <div class="s1">
          <p>dgvfhfhdf</p>
        </div>
        <div class="s2">
          <p>sdfdfd</p>
        </div>
        <div class="s3">
          <p>dfdfd</p>
        </div>
        <div class="s4">
          <p>dfdfff</p>
        </div>
        <div class="s5">
          <p>fdgfggdf</p>
        </div>
        
      </div>
      <div class="s-india">
        <div class="s1">
          <p>dgvfhfhdf</p>
        </div>
        <div class="s2">
          <p>sdfdfd</p>
        </div>
        <div class="s3">
          <p>dfdfd</p>
        </div>
        <div class="s4">
          <p>dfdfff</p>
        </div>
        <div class="s5">
          <p>fdgfggdf</p>
        </div>
        
      </div>
       <div class="s-india">
        <div class="s1">
          <p>dgvfhfhdf</p>
        </div>
        <div class="s2">
          <p>sdfdfd</p>
        </div>
        <div class="s3">
          <p>dfdfd</p>
        </div>
        <div class="s4">
          <p>dfdfff</p>
        </div>
        <div class="s5">
          <p>fdgfggdf</p>
        </div>
        
      </div>
      
       
    </div>