<div class="mainscreen">
    <div class="leftdiv">
      <div class="side-nav">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
  
        <button class="house">
          <i class="fa-solid fa-house"></i> <span class="sea">Home</span>
        </button>
        <br />
        <button class="search" (click)="search()">
          <i class="fa-solid fa-magnifying-glass" ></i>
          <span class="sea">Search</span>
        </button>
      </div>
      
  
      <div class="library">
        <button class="navbar">
          <span class="sea"> Your Library</span>
        </button>
  
        <button class="plus">
          <i class="fa-solid fa-plus"></i>
        </button>
        <div class="parent">
          <div class="container">
            <p class="p1">Create your first playlist</p>
  
            <p class="p2">it's easy, we'll help you</p>
            <button class="create-list">Create playlist</button>
          </div>
          <div class="container2">
            <p class="p1">let's find some poscast to follow</p>
            <p class="p2">we'll keep you updated on new episodes</p>
            <button class="create-list">Browse podcasts</button>
          </div>
        </div>
        <div class="links">
          <a class="a1" href="#">Legal</a>
          <a class="a1" href="#">Privacy Center</a>
          <a class="a1" href="#">Privacy Policy</a>
          <a class="a1" href="#">cookies</a><br />
  
          <a class="a2" href="#">About ads</a>
          <a class="a2" href="#">Accessability</a><br />
          <a class="a3" href="#">Cookies</a><br />
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
          />
          <button class="globe">
            <i
              class="fa-solid fa-earth-africa"
              style="color: #1a3d7a; padding-right: 8px"
            ></i
            >English
          </button>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="right">
      <div class="auth">
        <button class="left-arrow">
          <i class="fa-sharp fa-solid fa-arrow-left"></i>
        </button>
        <button class="right-arrow">
          <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </button>
        
      <div class="song-list">
        <div class="container1">
          <p class="focus">Focus</p>
          <a class="showall" href="#">show all</a>
        </div>
  
        <div class="focus-list">
          <div class="s1">
            <p>dgvfhfhdf</p>
          </div>
          <div class="s2">
            <p>sdfdfd</p>
          </div>
          <div class="s3">
            <p>dfdfd</p>
          </div>
          <div class="s4">
            <p>dfdfff</p>
          </div>
          <div class="s5">
            <p>fdgfggdf</p>
          </div>
        </div>
        <div class="song-list2">
          <div class="container3">
            <p class="spotify-playlist">Spotify Playlist</p>
            <a class="showall1" href="#">show all</a>
          </div>
        </div>
        <div class="s-playlist">
          <div class="s1">
            <p>dgvfhfhdf</p>
          </div>
          <div class="s2">
            <p>sdfdfd</p>
          </div>
          <div class="s3">
            <p>dfdfd</p>
          </div>
          <div class="s4">
            <p>dfdfff</p>
          </div>
          <div class="s5">
            <p>fdgfggdf</p>
          </div>
        </div>
        <div class="song-list3">
          <div class="container4">
            <p class="sound-india">Sounds of India</p>
            <a class="showall1" href="#">show all</a>
          </div>
        </div>
        <div class="s-india">
          <div class="s1">
            <p>dgvfhfhdf</p>
          </div>
          <div class="s2">
            <p>sdfdfd</p>
          </div>
          <div class="s3">
            <p>dfdfd</p>
          </div>
          <div class="s4">
            <p>dfdfff</p>
          </div>
          <div class="s5">
            <p>fdgfggdf</p>
          </div>
          
        </div>
        <div class="s-links">
          <div class="s1">
            <p>dgvfhfhdf</p>
          </div>
          <div class="s2">
            <p>sdfdfd</p>
          </div>
          <div class="s3">
            <p>dfdfd</p>
          </div>
          <div class="s4">
            <p>dfdfff</p>
          </div>
         
      </div>
      <div class="underline">
        
          <hr class="line">
      </div>
      <div class="s-space">
        
       
    </div>
       
    
    </div>
  </div>
 

